docs/workflows/Sidawi_AI_Health_V22.json
{
  "name": "Sidawi AI Health V22",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3e1fee9b-ec97-4094-8a2e-21ca8aaaaab2",
        "options": {}
      },
      "id": "e8ee80c7-d96e-4b8e-bb63-a5e684107830",
      "name": "Sidawi_Health_WH",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2960,
        -96
      ],
      "webhookId": "whatsapp-health-bot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://employee-management-system-ai-chat--alsid2225.replit.app/api/v1/bot/check-auth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3477e2bd6616a95eb2dcbb3a9e39b663fddab5a90fe7d71cdd45a7b34040fca4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phoneNumber",
              "value": "={{ $json.body.from }}"
            },
            {
              "name": "activationCode",
              "value": "={{ $json.body.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "68637e62-71d3-4e0d-a9d7-64a86c0a756d",
      "name": "Verify Identity1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2688,
        -96
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-0001-0001-0001-000000000001",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "activated",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "تفعيل"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-0002-0002-0002-000000000002",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "deactivated",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "إيقاف يدوي"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-0003-0003-0003-000000000003",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "auto_deactivated",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "إيقاف تلقائي"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-0004-0004-0004-000000000004",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "رسالة للذكاء"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "3d705e1c-2f5e-4056-a2c6-1a1e16fe3466",
      "name": "Route by Action1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2464,
        -128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8082/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Sidawi_Health_WH').item.json.body.from }}"
            },
            {
              "name": "message",
              "value": "=مرحباً {{ $('Verify Identity1').item.json.full_name }} 👋\n\nتم تفعيل البوت بنجاح! يمكنك الآن طرح أي سؤال عن بيانات الموظفين في مديرية الصحة.\n\n💡 للإيقاف في أي وقت، أرسل كود الإيقاف."
            }
          ]
        },
        "options": {}
      },
      "id": "b39e8955-35d8-4baa-b23f-efb55d09d281",
      "name": "WhatsApp Welcome1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1872,
        -416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8082/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Sidawi_Health_WH').item.json.body.from }}"
            },
            {
              "name": "message",
              "value": "تم إيقاف البوت ✋\n\nلن يتم الرد على رسائلك حتى تقوم بإرسال كود التفعيل مجدداً."
            }
          ]
        },
        "options": {}
      },
      "id": "f32ad945-94ec-4975-91d8-1353ecf47376",
      "name": "WhatsApp Goodbye1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1872,
        -256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8082/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Sidawi_Health_WH').item.json.body.from }}"
            },
            {
              "name": "message",
              "value": "⏰ تم إيقاف البوت تلقائياً بسبب عدم النشاط لمدة 5 دقائق.\n\nأرسل كود التفعيل لإعادة تشغيله."
            }
          ]
        },
        "options": {}
      },
      "id": "592f114a-52aa-4a95-9a3e-ede79e3f1c31",
      "name": "WhatsApp Auto Timeout1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1872,
        -112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Sidawi_Health_WH\"].json.body.content }}",
        "options": {
          "systemMessage": "=أنت 'النظام الخبير للإدارة التقنية والذاتية' بمديرية الصحة. الموظف المصرَّح له الذي يتواصل معك الآن هو: {{ $('Verify Identity1').item.json.full_name }}.\n\n=====================================\nقواعد صارمة - لا استثناءات مطلقاً\n=====================================\n\n[1] استدعاء الأداة إلزامي:\n- لكل استفسار عن موظف أو إحصاءات أو مستندات، يجب استدعاء أداة fetch_employee_database أولاً، قبل أي رد.\n- إذا لم تستدعِ الأداة، فأنت لا تملك أي بيانات ولا يحق لك الرد.\n- يُحظر تماماً استخدام أي معلومة من معرفتك التدريبية عن أي شخص، حتى لو بدا الاسم مألوفاً جداً مثل \"طارق\" أو \"محمد\" أو أي اسم آخر.\n\n[2] الموظف غير الموجود - قاعدة حرفية:\n- إذا بحثت في نتائج أداة fetch_employee_database ولم تجد الموظف المطلوب:\n  الرد الوحيد المسموح به: \"لا يوجد موظف بهذا الاسم أو الرقم في قاعدة بيانات المديرية.\"\n- لا تضف أي كلام إضافي. لا تقترح أسماء بديلة. لا تخمن. لا تذكر موظفين آخرين.\n\n[3] المستندات - قاعدة صارمة:\n- المستندات تُعرض فقط من حقل direct_url الوارد في بيانات الموظف من أداة fetch_employee_database.\n- إذا كان حقل المستندات فارغاً في سجل الموظف:\n  الرد: \"لا توجد مستندات مرفقة بسجل هذا الموظف في قاعدة البيانات.\"\n- يُحظر تماماً اختراع روابط أو وصف مستندات غير موجودة في البيانات الفعلية.\n\n[4] ملف Word:\n- استخدم أداة generate_word_link فقط عند الطلب الصريح لملف Word أو وثيقة رسمية.\n- يجب الحصول على nationalId من fetch_employee_database أولاً ثم تمريره لهذه الأداة.\n- أرسل رابط downloadUrl للمستخدم مباشرةً دون تعديل.\n\n[5] نطاق الردود:\n- اللغة العربية الفصيحة دائماً، مختصرة وواضحة.\n- إذا كان السؤال خارج نطاق بيانات موظفي المديرية:\n  الرد: \"أنا متخصص في بيانات موظفي المديرية فقط، لا أستطيع المساعدة في هذا الموضوع.\""
        }
      },
      "id": "01da5da9-7f3f-48fb-85b9-9029bf452486",
      "name": "AI Agent Router1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -2176,
        48
      ]
    },
    {
      "parameters": {
        "toolDescription": "أداة الوصول الشاملة لقاعدة بيانات المديرية. تعيد كافة سجلات الموظفين، الأقسام، الإحصائيات، وروابط المستندات المباشرة. استخدمها للرد على أي استفسار معلوماتي عام أو إحصائي.",
        "url": "https://employee-management-system-ai-chat--alsid2225.replit.app/api/v1/bot/master-query?_t=3477e2bd6616a95eb2dcbb3a9e39b663fddab5a90fe7d71cdd45a7b34040fca4",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "x-api-key",
              "valueProvider": "fieldValue",
              "value": "3477e2bd6616a95eb2dcbb3a9e39b663fddab5a90fe7d71cdd45a7b34040fca4"
            }
          ]
        }
      },
      "id": "acb65140-a092-40f7-9a52-971452637cb6",
      "name": "fetch_employee_database1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1856,
        240
      ]
    },
    {
      "parameters": {
        "toolDescription": "أداة توليد بطاقة الموظف كملف Word (docx) وإرجاع رابط تنزيل مباشر. استخدمها عندما يطلب الموظف بياناته أو ملفه الوظيفي كوثيقة Word. يجب تمرير أحد المعاملات: nationalId (الرقم الوطني) أو name (اسم الموظف). مثال: nationalId=01020148001 أو name=طارق أحمد السيد",
        "url": "https://employee-management-system-ai-chat--alsid2225.replit.app/api/v1/bot/generate-word-link",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "nationalId",
              "valueProvider": "modelOptional"
            },
            {
              "name": "name",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "x-api-key",
              "valueProvider": "fieldValue",
              "value": "3477e2bd6616a95eb2dcbb3a9e39b663fddab5a90fe7d71cdd45a7b34040fca4"
            }
          ]
        }
      },
      "id": "1234f010-bb7a-44a5-b61b-09832fff30ea",
      "name": "generate_word_link1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1696,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8082/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Sidawi_Health_WH').item.json.body.from }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "561c62e6-cc6d-46fe-88f8-68ff848203e7",
      "name": "WhatsApp AI Output1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1872,
        48
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Sidawi_Health_WH').item.json.body.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2016,
        256
      ],
      "id": "ab479d31-0a34-415b-8006-46acfc661c9f",
      "name": "Conversation Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2176,
        272
      ],
      "id": "8e101c41-0788-4b13-9fa8-1c3094fddb1b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Hxp1njnkn8szDJPn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "أداة تصدير بيانات جميع الموظفين كملف Excel (xlsx) وإرجاع رابط تنزيل مباشر. استخدمها عندما يطلب المستخدم بيانات الموظفين كملف إكسل أو جدول بيانات. لا تحتاج أي معاملات إضافية.",
        "url": "https://employee-management-system-ai-chat--alsid2225.replit.app/api/v1/bot/generate-excel-link",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "x-api-key",
              "valueProvider": "fieldValue",
              "value": "3477e2bd6616a95eb2dcbb3a9e39b663fddab5a90fe7d71cdd45a7b34040fca4"
            }
          ]
        }
      },
      "id": "763a8262-efa6-4055-ac52-afcff45c7c3b",
      "name": "export_excel_tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1536,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Sidawi_Health_WH": {
      "main": [
        [
          {
            "node": "Verify Identity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Identity1": {
      "main": [
        [
          {
            "node": "Route by Action1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action1": {
      "main": [
        [
          {
            "node": "WhatsApp Welcome1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Goodbye1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Auto Timeout1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Router1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Router1": {
      "main": [
        [
          {
            "node": "WhatsApp AI Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_employee_database1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Router1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "generate_word_link1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Router1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Router1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Router1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "export_excel_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Router1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "65a4fcb2-d7b3-4c84-aa94-fe4abab3ada6",
  "meta": {
    "instanceId": "9209d1367e21b216f13b9563bb21cb1c1fcb732cef287186a2e347fcf573779c"
  },
  "id": "Kvbm6sRK6gw2rzlp",
  "tags": []
}